<!DOCTYPE HTML>
<html lang="en">
<head>

    <title>Kon Khay Hoi</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="~/bootstrap/style/images/konKhayHoi.png">
    <link rel="stylesheet" type="text/css" href="~/bootstrap/style/css/style.css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    
    <script src="~/bootstrap/style/js/jquery-1.6.4.min.js"></script>
    <script src="~/bootstrap/style/js/ddsmoothmenu.js"></script>
    <script src="~/bootstrap/style/js/jquery.jcarousel.js"></script>
    <script src="~/bootstrap/style/js/jquery.prettyPhoto.js"></script>
    <script src="~/bootstrap/style/js/carousel.js"></script>
    <script src="~/bootstrap/style/js/jquery.flexslider-min.js"></script>
    <script src="~/bootstrap/style/js/jquery.masonry.min.js"></script>
    <script src="~/bootstrap/style/js/jquery.slickforms.js"></script>
</head>

@using (Html.BeginForm())
{
    <body>
        <div id="wrapper">
            @Html.AntiForgeryToken()
            <div id="sidebar">
                <div id="logo"><center><img src="~/bootstrap/style/images/logo.png"></center></div>
                <div id="menu" class="menu-v">
                    <ul>
                        <li><a class="active" onclick="location.href='@Url.Action("dataFarm", "farm")';">ข้อมูลฟาร์ม</a></li>
                        <li><a class="active" onclick="location.href='@Url.Action("profile", "Admin")';">แก้ไขข้อมูลส่วนตัว</a></li>
                        <li><a href="viewRevenue.html" class="active">รายได้</a></li>
                        <li><a href="viewExpenditure.html" class="active">รายจ่าย</a></li>
                        <li><a href="CheckProfit.html" class="active">ตรวจสอบกำไร</a></li>
                        <li><a href="Circulation.html" class="active">ตรวจสอบยอดขาย</a></li>
                        <li><a href="ViewPN.html" class="active">เพิ่ม แก้ไข(หุ้นส่วน)</a></li>
                        <li><a href="Viewstore.html" class="active">ดูข้อมูลร้านรับซื้อ</a></li>
                        <li onclick="location.href='@Url.Action("ChangPassword", "Admin")';">เปลี่ยนรหัสผ่าน</li>
                        <li><a href="#" class="active">ออกจากระบบ</a></li>
                    </ul>
                </div>
            </div>

            <div id="content">
                <font color="#fffff">  <h5 class="title">สวัสดี คุณหอยแครง ทะเลไทย</h5> </font>
                <div class="line"></div>
                <div class="container-fluid">

                    <div class="animated fadeIn">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <strong><img src="~/bootstrap/style/images/datafarm.png"></strong>
                                    </div>
                                    <div style="width:100%; height:500px; overflow-y: scroll; scrollbar-arrow-color:blue; scrollbar-face-color: #e7e7e7; scrollbar-3dlight-color: #a0a0a0; scrollbar-darkshadow-color:#888888">
                                        <div class="card-block">
                                            <div class="row">
                                                <font size="5" color="green">@ViewBag.Message</font><br>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="name">ชื่อผู้ใช้งาน</label>
                                                        <input type="text" class="form-control" name="username"  id="namefarm" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="name">รหัสผ่าน</label>
                                                        <input type="text" class="form-control" name="pass"  id="namefarm" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="name">ชื่อฟาร์ม</label>
                                                        <input type="text" class="form-control" name="name" value="@HttpContext.Current.Session["DFname"]" id="namefarm" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/.row-->
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="ccnumber">เบอร์โทร</label>
                                                        <input type="text" class="form-control" name="tel" value="@HttpContext.Current.Session["DFtel"]" id="tel" placeholder="">

                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="" />
                                            <!--/.row-->
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="cvv">บ้านเลขที่</label>
                                                        <input type="text" class="form-control" name="no" value="@HttpContext.Current.Session["DFno"]" id="no_" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="cvv">ตำบล</label>
                                                        <input type="text" class="form-control" name="subD" value="@HttpContext.Current.Session["DFsubD"]" id="sub_d" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/.row-->
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="cvv">อำเภอ</label>
                                                        <input type="text" class="form-control" name="sub" value="@HttpContext.Current.Session["DFsub"]" id="cvv" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="cvv">จังหวัด</label>
                                                        <input type="text" class="form-control" name="proV" value="@HttpContext.Current.Session["DFproV"]" id="cvv" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="ccnumber">วันที่เริ่มลงทุน</label>
                                                        <input type="text" class="form-control" name="dateStart" value="@HttpContext.Current.Session["DFdateStart"]" id="ccnumber" placeholder="เช่น 01/01/2560">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="ccnumber">เดือน ปีที่คิดว่าจะขายได้</label>
                                                        <input type="text" class="form-control" name="MonthOfSale" value="@HttpContext.Current.Session["DFMonthOfSale"]" id="ccnumber" placeholder="เช่น 01/2560">
                                                    </div>
                                                    <br>
                                                    <div class="form-group form-actions">
                                                        <center>
                                                            <button type="submit" class="btn btn-success btn-lg">&nbsp;&nbsp;&nbsp;บันทึก&nbsp;&nbsp;&nbsp;</button>&nbsp;&nbsp;
                                                            <button type="submit" class="btn btn-danger btn-lg">เริ่มรอบใหม่</button>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <script src="~/bootstrap/style/js/scripts.js"></script>
                <!--[if !IE]> -->
                <script src="~/bootstrap/style/js/jquery.corner.js"></script>
    </body>
}
</html>



