@model Tuple<List<KonKhayHoi.Models.Shop>>
<!DOCTYPE HTML>
<html lang="en">
<head>

    <title>Kon Khay Hoi</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="~/bootstrap/style/images/konKhayHoi.png">
    <link rel="stylesheet" type="text/css" href="~/bootstrap/style/css/style.css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <script src="~/bootstrap/style/js/jquery-1.6.4.min.js"></script>
    <script src="~/bootstrap/style/js/ddsmoothmenu.js"></script>
    <script src="~/bootstrap/style/js/jquery.jcarousel.js"></script>
    <script src="~/bootstrap/style/js/jquery.prettyPhoto.js"></script>
    <script src="~/bootstrap/style/js/carousel.js"></script>
    <script src="~/bootstrap/style/js/jquery.flexslider-min.js"></script>
    <script src="~/bootstrap/style/js/jquery.masonry.min.js"></script>
    <script src="~/bootstrap/style/js/jquery.slickforms.js"></script>
</head>

@using (Html.BeginForm())
{
    <body>
        <div id="wrapper">
            @Html.AntiForgeryToken()
            <div id="sidebar">
                <div id="logo"><center><img src="~/bootstrap/style/images/logo.png"></center></div>
                <div id="menu" class="menu-v">
                    <ul>
                        <li><a href="showList.php" class="active"></a></li>
                        <li><a href="STdatastore.html" class="active">ข้อมูลร้าน</a></li>
                        <li><a class="active" onclick="location.href='@Url.Action("STselectdatafarm", "Shop")';">ข้อมูลฟาร์ม</a></li>
                        <li><a class="active" onclick="location.href='@Url.Action("STchangPassword", "Shop")';">เปลี่ยนรหัสผ่าน</a></li>
                        <li><a href="../main/main.php" class="active">ออกจากระบบ</a></li>
                    </ul>
                </div>
            </div>

            <div id="content">
                <font color="#fffff">  <h5 class="title">สวัสดี คุณหอยแครง ทะเลไทย</h5> </font>
                <div class="line"></div>
                <div class="container-fluid">

                    <div class="animated fadeIn">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <strong><img src="~/bootstrap/style/images/pass.png"></strong>
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="name">รหัสผ่านเก่า</label>
                                                    <input type="password" class="form-control" name="password" id="namefarm" placeholder="">
                                                    @ViewBag.Error
                                                </div>
                                            </div>
                                        </div>
                                        <!--/.row-->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="ccnumber">รหัสผ่านใหม่</label>
                                                    <input type="password" class="form-control" name="newPass" id="tel" placeholder="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="ccnumber">ยืนยันรหัสผ่านใหม่</label>
                                                    <input type="password" class="form-control" name="cfnewPass" id="ccnumber" placeholder="">
                                                    @ViewBag.Error1
                                                </div>
                                                <br>
                                                <div class="form-group form-actions">
                                                    <center>
                                                        <button type="submit" class="btn btn-success btn-lg">&nbsp;&nbsp;&nbsp;บันทึก&nbsp;&nbsp;&nbsp;</button>&nbsp;&nbsp;
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <script src="~/bootstrap/style/js/scripts.js"></script>
            <!--[if !IE]> -->
            <script src="~/bootstrap/style/js/jquery.corner.js"></script>
    </body>
}
</html>

